<h1><%= @trip.name %></h1>
<hr />
<% @trip.locations.each do |location| %>
<%end%>
<h3>What would you like to do?</h3>
<%= link_to'View Locations', trip_locations_path(@trip) %>
<br />
<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<br />
<%= link_to 'Delete Trip', @trip, method: :delete %>
<br />
<%= link_to 'Back', trips_path %>
