<h1>Address</h1>
<hr />
<%= form_for [ @location, @address ] do |f| %>
  <%= f.label :street %>
  <%= f.text_field :street, required: true, autofocus: true %>
  <%= f.label :city %>
  <%= f.text_field :city, required: true, autofocus: true %>
  <%= f.label :state %>
  <%= f.text_field :state, required: true, autofocus: true %>
  <%= f.label :zip %>
  <%= f.number_field :zip, required: true, autofocus: true %>


  <%= f.submit %>
<%end%>